<div class="collapse navbar-collapse btn-brown" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown btn-brown text-white">
            <a href="#" class="logo-font font-weight-bold nav-link btn-brown text-white mr-5" id="all-chocolate-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Chocolate
            </a>
            <div class="dropdown-menu border-0 btn-brown text-white" aria-labelledby="all-chocolate-link">
                <a href="" class="dropdown-item btn-brown text-white">Chocolate Bars</a>
                <a href="" class="dropdown-item btn-brown text-white">Drinking Chocolate</a>
                <a href="" class="dropdown-item btn-brown text-white">Occassions</a>
                <a href="" class="dropdown-item btn-brown text-white">Organic</a>
                <a href="" class="dropdown-item btn-brown text-white">All Chocolate</a>
            </div>
        </li>

        <li class="nav-item dropdown btn-brown text-white">
            <a href="#" class="logo-font font-weight-bold nav-link btn-brown text-white mr-5" id="countries-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Countries
            </a>
            <div class="dropdown-menu border-0 btn-brown text-white" aria-labelledby="countries-link">
                <a href="" class="dropdown-item btn-brown text-white">Belgium</a>
                <a href="" class="dropdown-item btn-brown text-white">Switzerland</a>
                <a href="" class="dropdown-item btn-brown text-white">Ireland</a>
                <a href="" class="dropdown-item btn-brown text-white">USA</a>
            </div>
        </li>

        <li class="nav-item dropdown btn-brown text-white">
            <a href="#" class="logo-font font-weight-bold nav-link btn-brown text-white mr-5" id="flavours-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flavours
            </a>
            <div class="dropdown-menu border-0 btn-brown text-white" aria-labelledby="flavours-link">
                <a href="" class="dropdown-item btn-brown text-white">Dark</a>
                <a href="" class="dropdown-item btn-brown text-white">White</a>
                <a href="" class="dropdown-item btn-brown text-white">Fruit</a>
                <a href="" class="dropdown-item btn-brown text-white">Nut</a>
            </div>
        </li>

        <li class="nav-item dropdown btn-brown text-white">
            <a href="#" class="logo-font font-weight-bold nav-link btn-brown text-white mr-5" id="deals-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delicious Deals
            </a>
            <div class="dropdown-menu border-0 btn-brown text-white" aria-labelledby="deals-link">
                <a href="" class="dropdown-item btn-brown text-white">Chocolate Bar Deals</a>
                <a href="" class="dropdown-item btn-brown text-white">Special Reduced Offers</a>
                <a href="" class="dropdown-item btn-brown text-white">Chocolate Club</a>
            </div>
        </li>
    </ul>
</div>